.transparent1
  border-top: 1px solid #afafaf
  border-bottom: 1px solid #afafaf
  border-radius: 0 !important

.transparent2
  border-bottom: 1px solid #afafaf
  border-radius: 0 !important

.fa-chevron-right
  color: $color-acento-botones

.cajon.color-acento-contenido
  background-color: #c3ebf5
  