
.banner-interno__titulo__icono
  background-color: #FFFFFF !important



.transparent1
  border-top: 2px solid #afafaf
  //border-bottom: 2px solid #afafaf
  border-radius: 0 !important

.transparent2
  border-bottom: 1px solid #afafaf
  border-radius: 0 !important

.fa-chevron-right
  color: $color-acento-botones

.cajon.color-acento-contenido
  background-color: #d5fffe
  
.tarjeta--tabla
  padding: 0 !important
  border-radius: 10%

$azulClarito: #47a0e6
$azulOscuro: #0f2771
$gradiente1: $azulClarito 0%, $azulOscuro 100%
@mixin gradient($direction, $list)
  background: -webkit-linear-gradient($direction, $list)
  background: -moz-linear-gradient($direction, $list)
  background: -o-linear-gradient($direction, $list)
  background: linear-gradient($direction, $list)

.g1
  @include gradient(180deg, $gradiente1)

.tabs-a__tab
  background-color: #e8e8e8 
.color-custom
  background-color: #befafa
  border-radius: 10px

.tarjeta--azul
  background-color: #f2f6fe

//tarjetas cortas verticales
.arrow-crd
  position: relative
  height: 100%  
  &::before
    content: ""
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: 100%
    background-color: #F2F6FE
    border-radius: 12px
    z-index: 0  
  &__header--azul
    position: relative
    padding: 1rem
    background-color: #91B3FA
    border-top-left-radius: 12px
    border-top-right-radius: 12px    
    p
      font-size: 35pt
      font-weight: 800
      text-align: center
      margin: 0
      color: #ffffff
    &::before
      content: ""
      position: absolute
      bottom: -15px
      left: 50%
      transform: translateX(-50%)
      border-top: solid 15px #91B3FA
      border-left: solid 15px transparent
      border-right: solid 15px transparent
      z-index: 2
      &:nth-child(odd)
  &__header
    position: relative
    padding: 1rem
    background-color: #57DBD8
    border-top-left-radius: 12px
    border-top-right-radius: 12px    
    p
      font-size: 35pt
      font-weight: 800
      text-align: center
      margin: 0
      color: #ffffff
    &::before
      content: ""
      position: absolute
      bottom: -15px
      left: 50%
      transform: translateX(-50%)
      border-top: solid 15px #57DBD8
      border-left: solid 15px transparent
      border-right: solid 15px transparent
      z-index: 2
      &:nth-child(odd)

  

  &__body   
    position: relative
    padding: 1.5rem
    p 
      text-align: center
      font-weight: bold

.lista-ol--cuadro__vineta
  background-color: $color-acento-botones

.separador-custom
  position: relative  
  width: 85%
  height: 3px 
  margin: 60px 0
  left: 50%
  transform: translateX(-50%)    
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, #c2c2c2 50%, rgba(255,255,255,1) 100%);
  &::before
    content: ""
    position: absolute
    top: 2px
    left: 0
    width: 100%
    height: 4px
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, #f0f0f0 50%, rgba(255,255,255,1) 100%);
    z-index: 9


// Linea de tiempoD(PASOS) tema$
.linea-tiempo-d.color-acento-contenido .linea-tiempo-d__item--selected .linea-tiempo-d__item__number 
    background-color: #91B3FA
    color: #ffffff